
/*
body {

	height: 100%;
}

body {

	background: no-repeat; scroll 0 0 #FFF;
	color:#222;
}


* {
	font-size: 12px;
}
a {
	color:#222;
}
a:hover {
	color: #222;
	text-decoration: underline;
}
a.button:hover {
	text-decoration: none;
}   */

/* Begins STEP 2 */

ul#top_nav {
	float: right;
	margin-right: 25px ;
}

ul#top_nav li{
	list-style: none ;
	display: inline-block; 
	text-align: right ;
	font-size: 13px;
	vertical-align: bottom;
	padding: 1em 10px 0 0;
	margin: 5px 5px 0 0; 
}

.fa {
	font-size: 20px;
	opacity: 0.7;
	cursor: default;
	vertical-align: top;
}

.fa :hover {
	opacity:1.0;
}

span#share {
	cursor:default;
	background-color: #f2f2f2;
	padding:7px 15px;
}

span#share :hover: {
	background-color: #E1E1E1;
}

img.profile_img {
	width: 32px;
	height: 32px;
	border-radius: 25px;
	margin: -5px;
}

/* 	Ends STEP 2 */



/* Begins STEP 5 */

div#search {
	position:absolute;
	margin-top: 50px;
	width: 100%;
}

div#search img {
	display: block;
	margin: 0 auto;
	padding: 142px 0 24px 0;
}
input.search_buttons {
	font-size: 17px;
	width: 40%;
	margin-left: 30%;
	border: 1px solid #d9d9d9;
}

input.search_buttons:focus {
	border-color: #4387FD;
}

ul.buttons {
	padding-left: 0;
	text-align: center;
}

ul.buttons li {
	display: inline-block;
	background-color: #F5F5F5;
	border: 1px solid rgba(0, 0, 0, 0.1);      /* ?? */
	border-radius: 2px;
	font-size: 11px;
	color: #666;
	font-weight: bold;
	line-height: 27px;
	margin: 17px 6px;
	padding: 0 12px;
}

ul.buttons li:hover {
	background-color: #F8F8F8;
	border: 1px solid #C6C6C6;
	color: #333;
	cursor: default;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);    /* ?? */
}
/* 	Ends STEP 5 */



/* 	Begins STEP 6 */

div#bottom_nav {
	position: absolute;
	bottom: 0 !important;
	width: 100%;
	background-color: #F2F2F2;
	border-top: 1px solid #E4E4E4;
}

ul#left {
	float: left;
	margin-bottom: 0;
	padding-left: 20px;
}
ul#right {
	float: right;
	margin-bottom: 0;
	padding-right: 10px;
}

ul#left li,
ul#right li {
	display: inline;
	line-height: 40px;
	list-style: none;
}

ul#left li a,
ul#right li a {
	color: #666;
	letter-spacing: 0.1;
	font-size: 13px;
	margin: 2px 10px 0 10px;
}

ul#right li a:first-child {
	padding-right: 8px;
}

ul#left li:nth-child(2),
ul#left li:nth-child(3) {
	margin-left: 7px;
}
	/* Ends	STEP 6 */















